*{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    background-color: #000000;
    font-family: 'Asap', sans-serif;
    scroll-padding-top: 7rem;
}
*::-moz-selection{
    background-color: #ff4757;
    color: #2f3542;
}
*::selection{
    background-color: #ff4757;
    color: #2f3542;
}